*{
  margin: 0;
}
h1 {
  position : fixed;
  font-size : 50px;
  color : white;
  margin : 10px;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}